@inherits LayoutComponentBase

<!-- TOPO -->
<NavBar />

<!-- CORPO: Sidebar + Conteúdo -->
<div class="d-flex">
    <div class="sidebar bg-dark text-white p-3" style="width: 220px; min-height: 100vh;">
        <NavMenu />
    </div>
    <main class="flex-grow-1">
        <article class="content px-4 pt-4">
            @Body
        </article>
    </main>
</div>
