@inject GestaoDocumentosPdf.Services.SessaoScoped Sessao

<nav class="nav flex-column">
    <a class="nav-link" href="/home">
        <i class="bi bi-house-fill"></i>
        Início
    </a>
    <a class="nav-link" href="/documentos">
        <i class="bi bi-file-earmark-text-fill"></i>
        Documentos
    </a>
    <a class="nav-link" href="/usuarios">
        <i class="bi bi-people-fill"></i>
        Usuários
    </a>
</nav>

